body{
background-image: url(banner.png);


}
.wrapper{
    width: 100%;
}
.books h1 {

text-align: center;
color: white;
padding-top: 20px;
font-size: 25px;
font-family: arial;
}

.edexcel{
text-align: center;


}

.edexcel h1{

margin-top: 100px;


}



.edexcel h1 a{

color: black;
text-decoration: none;
transition: 0.4s ease-in-out;
}

.edexcel h1 a:hover{
    color: white;
}

.arrow h1 a{
    text-decoration: none;
    color: black;
    margin-left: 145px;
    transition: 0.4s ease-in-out;

}

.arrow h1 a:hover{
    color: white;
}
